.vscode
.clangd
clear.sh
.DS_Store
/Users/yunfei/Project/Intgrated_circuit_design_contest_2025_05/tensorcore/rtl/util/MAC/obj_dir
2025年集创赛中科芯杯数据集说明
/Users/yunfei/Project/Intgrated_circuit_design_contest_2025_05/tensorcore/rtl/util/MAC/obj_dir
